h1{
    font-size:60px;
    text-align:center;
    color:darkred;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: seagreen;
}
h2{
    font-size:40px;
    text-align:right;
    color:darkred;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: seagreen;
}
p{
    font-size:30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:navy;


}
img{
    text-align:left;
    float: left;
}
header{
    background-color: seagreen;
}
main{
    background-color: seagreen;
    text-align: right;
}
footer{
    background-color: seagreen;
    text-align: center;
}