h1{
    font-size:60px;
    text-align:center;
    color:darkred;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: seagreen;
}
h2{
    font-size:40px;
    text-align:right;
    color:darkred;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: seagreen;
}
h3{
    font-size:40px;
    text-align:center;
    color:darkred;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
    font-size:30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:navy;
    border: solid 60px maroon;


}
img{
    text-align:left;
    float: left;
}
header{

}
    

main{
    background-color: seagreen;
    text-align: right;
    padding: 50px;
}
footer{
    background-color: seagreen;
    text-align: center;
    padding:50px;
}
body{
    
    margin: 96px;
}