h1{
    font-size:60px;
    text-align:center;
    color:darkred;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
h2{
    font-size:40px;
    text-align:center;
    color:darkred;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: seagreen;
}
h3{
    font-size:40px;
    text-align:center;
    color:darkred;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
    font-size:30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:navy;
    

}
img{
    text-align:left;
    float: left;
}
header{
text-align:center;
background-color: teal;
}
    

main{
    background-color: seagreen;
    text-align: center;
    padding: 50px;
}

footer{
    background-color: seagreen;
    text-align: center;
    padding:50px;
    border:solid 25px maroon
}
body{
    
    margin: 96px;
}